<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">The item with the specified Id was not found. Try again!</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Books" asp-action="Index">Home Page</a>
    </div>
</div>