@model Author

@{ 
    ViewData["Title"] = "Add a new author"
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Author</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
        </div>
    </div>

</div>