@model newBookVM
@{
    ViewData["Title"] = "Create a new book";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new book</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Premiere" class="control-label"></label>
                                <input asp-for="Premiere" type="date" class="form-control" />
                                <span asp-validation-for="Premiere" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookCoverURL" class="control-label"></label>
                                <input asp-for="BookCoverURL" class="form-control" />
                                <span asp-validation-for="BookCoverURL" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BookstoreId" class="control-label"></label>
                                <select asp-for="BookstoreId" class="form-control" asp-items="ViewBag.Cinemas"></select>
                                <span asp-validation-for="BookstoreId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookCategory" class="control-label"></label>
                                <select asp-for="BookCategory" class="form-control" asp-items="Html.GetEnumSelectList<MovieCategory>()"></select>
                                <span asp-validation-for="BookCategory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublisherId" class="control-label"></label>
                                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Producers"></select>
                                <span asp-validation-for="PublisherId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuthorsIds" class="control-label"></label>
                                <select asp-for="AuthorsIds" class="form-control" asp-items="ViewBag.Actors" multiple></select>
                                <span asp-validation-for="AuthorsIds" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="BookCoverURLPreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $("#BookCoverURL").on("change", function () {
            var output = document.getElementById("BookCoverURLPreview");
            output.src = $(this).val();
        })
    </script>
}
